body { 
    background: rgb(7, 4, 56);
    color:rgb(158, 18, 18);
    font: normal 15pt arial;
    }
    
    header {
    color:white;
    text-align: center;
    
    
    }
    
    section {
    background: white; /* cor */
    border-radius: 10px; /* raio da borda */
    padding: 15px; /* espaço dentro */
    width: 500px; /*largura fixa */
    margin: auto; /* centralizar */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.39);
    }
    
    footer {
    color:white;
    text-align: center;
    font-style: italic;
    }
input#but{
    text-align: center;
}